  <div class="container" id="home-container">
    <!-- Content here -->
    <div class="jumbotron">
      <h1 class="display-4">Alpha Blog</h1>
      <p class="lead">Supercool App using bootstrap</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign-up Now!</a>
    </div>
</div> 
